@model IEnumerable<RegjistriCivil.Models.IdCard>
@inject SignInManager<IdentityUser> signInManager
@inject IAuthorizationService authorizationService

@{
    ViewData["Title"] = "Id Cards";
}

<div class="container-fluid">
    <h1>Id Cards</h1>
    <p>
        @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Manager")))
        {
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        }
    </p>

    <table class="table" id="MyTable">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocumentIssuedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentIssuingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Residence)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentIssuedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentIssuingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpireDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCardNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Residence)
                </td>
                
                <td>
                    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Manager")))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });
    </script>
}