@model RegjistriCivil.Models.BirthCertificate

@{
    ViewData["Title"] = "Delete Birth Certificate";
}

<div class="container">
    <h1>Delete Birth Certificate</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DocumentIssuingDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DocumentIssuingDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DocumentIssuedBy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DocumentIssuedBy)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SerialNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SerialNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReferenceNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReferenceNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Municipality)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Municipality)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Person.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Person.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Person.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Person.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Person.DateOfBirth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Person.DateOfBirth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Person.Nationality)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Person.Nationality)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Person.PlaceOfBirth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Person.PlaceOfBirth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Person.Gender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Person.Gender)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Person.PersonalNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Person.PersonalNumber)
            </dd>
            @* Father *@
            <dt class="col-sm-2">
                Father First Name
                @*@Html.DisplayNameFor(model => model.FatherDetails.FirstName)*@
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FatherDetails.FirstName)
            </dd>
            <dt class="col-sm-2">
                Father Last Name
                @*@Html.DisplayNameFor(model => model.FatherDetails.LastName)*@
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FatherDetails.LastName)
            </dd>
            <dt class="col-sm-2">
                Father Date of Birth
                @*@Html.DisplayNameFor(model => model.FatherDetails.DateOfBirth)*@
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FatherDetails.DateOfBirth)
            </dd>
            <dt class="col-sm-2">
                Father PlaceOfBirth
                @*@Html.DisplayNameFor(model => model.FatherDetails.PlaceOfBirth)*@
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FatherDetails.PlaceOfBirth)
            </dd>
            <dt class="col-sm-2">
                Father Nationality
                @*@Html.DisplayNameFor(model => model.FatherDetails.Nationality)*@
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FatherDetails.Nationality)
            </dd>
            @* Mother *@
            <dt class="col-sm-2">
                Mother First Name
                @*@Html.DisplayNameFor(model => model.MotherDetails.FirstName)*@
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MotherDetails.FirstName)
            </dd>
            <dt class="col-sm-2">
                Mother Last Name
                @*@Html.DisplayNameFor(model => model.MotherDetails.LastName)*@
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MotherDetails.LastName)
            </dd>
            <dt class="col-sm-2">
                Mother Date of Birth
                @*@Html.DisplayNameFor(model => model.MotherDetails.DateOfBirth)*@
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MotherDetails.DateOfBirth)
            </dd>
            <dt class="col-sm-2">
                Mother PlaceOfBirth
                @*@Html.DisplayNameFor(model => model.MotherDetails.PlaceOfBirth)*@
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MotherDetails.PlaceOfBirth)
            </dd>
            <dt class="col-sm-2">
                Mother Nationality
                @*@Html.DisplayNameFor(model => model.MotherDetails.Nationality)*@
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MotherDetails.Nationality)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>
